.header { background: $head-bg; }

.header-inner { position: relative; }

.top-ad-box {
  background-color: #2830b5;
}

@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
@import "github-banner" if hexo-config('github_banner.enable');
